menu "BSP Customize Config"

config SOC_STM32F103xE
    bool
    select SOC_SERIES_STM32F1
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

menu "Product Customize Options"
    choice 
        prompt "SBUS Customize"
        default CUSTOM_SBUS_DEFAULT

        config CUSTOM_SBUS_DEFAULT
            bool "Default Version"

        config CUSTOM_SBUS_PUZHI
            bool "2020 Version, PuZhi"

        config CUSTOM_SBUS_PUZHI0911
            bool "2020 Version, 0911 PuZhi"

        config CUSTOM_SBUS_LIANGZW
            bool "2020 Version, Liang Zhi Wei"

        config CUSTOM_SBUS_VOLERS
            bool "2020 Version, Volers Encoding Board"

    endchoice

    choice 
        prompt "UART Customize"
        default CUSTOM_UART_DEFAULT

        config CUSTOM_UART_DEFAULT
            bool "Default Version"

        config CUSTOM_UART_PUZHI
            bool "2020 Version, PuZhi"

        config CUSTOM_UART_PUZHI0911
            bool "2020 Version, 0911 PuZhi"

        config CUSTOM_UART_LIANGZW
            bool "2020 Version, Liang Zhi Wei"

        config CUSTOM_UART_VOLERS
            bool "2020 Version, Volers Encoding Board"

    endchoice

    choice 
        prompt "CAM. Customize"
        default CAMERA_MODEL_3521

        config CAMERA_MODEL_3521
            bool "Default Version, ZINGTO Hi3521D"

        config CAMERA_MODEL_HU
            bool "2020 Version, Low Cost, HU"

        config CAMERA_MODEL_VOLERS
            bool "2020 Version, Volers Encoding Board"

    endchoice

endmenu

menu "On-chip Peripheral Drivers"

    config BSP_USING_GPIO
        bool "Enable GPIO"
        select RT_USING_PIN
        default y

    menuconfig BSP_USING_UART
        bool "Enable UART"
        default y
        select RT_USING_SERIAL
        if BSP_USING_UART
            config BSP_USING_UART1
                bool "Enable UART1"
                default y

            config BSP_UART1_RX_USING_DMA
                bool "Enable UART1 RX DMA"
                depends on BSP_USING_UART1 && RT_SERIAL_USING_DMA
                default n

            config BSP_UART1_TX_USING_DMA
                bool "Enable UART1 TX DMA"
                depends on BSP_USING_UART1 && RT_SERIAL_USING_DMA
                default n

            config BSP_USING_UART2
                bool "Enable UART2"
                default y

            config BSP_UART2_RX_USING_DMA
                bool "Enable UART2 RX DMA"
                depends on BSP_USING_UART2 && RT_SERIAL_USING_DMA
                default n

            config BSP_UART2_TX_USING_DMA
                bool "Enable UART2 TX DMA"
                depends on BSP_USING_UART2 && RT_SERIAL_USING_DMA
                default n

            config BSP_USING_UART3
                bool "Enable UART3"
                default y

            config BSP_UART3_RX_USING_DMA
                bool "Enable UART3 RX DMA"
                depends on BSP_USING_UART3 && RT_SERIAL_USING_DMA
                default n

            config BSP_UART3_TX_USING_DMA
                bool "Enable UART3 TX DMA"
                depends on BSP_USING_UART3 && RT_SERIAL_USING_DMA
                default n

            config BSP_USING_UART4
                bool "Enable UART4"
                default y

            config BSP_UART4_RX_USING_DMA
                bool "Enable UART4 RX DMA"
                depends on BSP_USING_UART4 && RT_SERIAL_USING_DMA
                default n

            config BSP_UART4_TX_USING_DMA
                bool "Enable UART4 TX DMA"
                depends on BSP_USING_UART4 && RT_SERIAL_USING_DMA
                default n
            
            config BSP_USING_UART5
                bool "Enable UART5"
                default y

        endif

    config BSP_USING_WDT
        bool "Enable Watchdog Timer"
        select RT_USING_WDT
        default y

    source "../libraries/HAL_Drivers/Kconfig"
       
endmenu

endmenu
